<!DOCTYPE html>
<html>
	
	<head>
		
		<title>::APP_TITLE::</title>
		
		<script type="text/javascript" src="swfobject.js"></script>
		<script type="text/javascript">
			
			swfobject.embedSWF ("::APP_FILE::.swf", "nme-application", "::WIN_WIDTH::", "::WIN_HEIGHT::", "::SWF_VERSION::", "expressInstall.swf");
			
		</script>
		
		<style>
			
			html, body { margin: 0; padding: 0 }
			#nme-application { margin: 0 auto; width: "::WIN_WIDTH::px", height: "::WIN_HEIGHT::px" }
			
		</style>
		
	</head>
	
	<body>
		
		<div id="nme-application"></div>
		
	</body>
	
</html>