[submodule "project/toolkit/png/libpng"]
	path = project/toolkit/png/libpng
	url = https://github.com/pnggroup/libpng
[submodule "project/toolkit/jpeg/libjpeg-turbo"]
	path = project/toolkit/jpeg/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "project/toolkit/vorbis/vorbis"]
	path = project/toolkit/vorbis/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "project/toolkit/ogg/ogg"]
	path = project/toolkit/ogg/ogg
	url = https://github.com/xiph/ogg.git
[submodule "project/toolkit/freetype/freetype"]
	path = project/toolkit/freetype/freetype
	url = https://github.com/freetype/freetype.git
[submodule "project/toolkit/sdl/SDL"]
	path = project/toolkit/sdl/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "project/toolkit/sdl-mixer/SDL_mixer"]
	path = project/toolkit/sdl-mixer/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = main
[submodule "project/toolkit/modplug/libmodplug"]
	path = project/toolkit/modplug/libmodplug
	url = https://github.com/Konstanty/libmodplug.git
