.DS_Store
ndll/*/nme*
ndll/*/libnme*
project/all_objs
project/obj
project/vc*.pdb
tools/command-line/command-line.n
tools/unit-testing/Export
tools/installer/mac/*.dmg
tools/installer/mac/*.mpkg
tools/installer/mac/resources
*.userprefs
*.swp
