[submodule "project/toolkit/zlib/zlib"]
	path = project/toolkit/zlib/zlib
	url = https://github.com/madler/zlib
[submodule "project/toolkit/png/libpng"]
	path = project/toolkit/png/libpng
	url = https://github.com/pnggroup/libpng
[submodule "project/toolkit/jpeg/libjpeg-turbo"]
	path = project/toolkit/jpeg/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "project/toolkit/vorbis/vorbis"]
	path = project/toolkit/vorbis/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "project/toolkit/ogg/ogg"]
	path = project/toolkit/ogg/ogg
	url = https://github.com/xiph/ogg.git
