# Compiled Object files
*.slo
*.lo
*.o

# vi temp
*.swp

# Compiled Dynamic libraries
*.so
*.dylib
*.ndll

# Compiled Static libraries
*.lai
*.la
*.a

# Untracked directories
obj/
Export/
bin/
lib/*/

#this one ise not under source control
nme.n

# Created files
tests/RunAll.n
tests/import-all

# Miscellaneous
all_objs
