# Compiled Object files
*.slo
*.lo
*.o

# compiled haxe code
*.swf
*.n

# vi temp
*.swp
*.swo

# Compiled Dynamic libraries
*.so
*.dylib
*.ndll

# Compiled Static libraries
*.lai
*.la
*.a

# Untracked directories
obj/
Export/
bin/
lib/*/

#this one ise not under source control
nme.n

# Created files
tests/RunAll.n
tests/import-all
out.txt
#binaries - not for committing
ndll
src/cppia
src/jsprime
tools/make_classes/gen

project/src/emscripten/_monospace.cpp
project/src/emscripten/_sans.cpp
project/src/emscripten/_serif.cpp

# Miscellaneous
all_objs
*.pdb
*.hash

# OSX
*.DS_Store
