language: node_js
node_js:
  - 0.6

before_install:
  - sudo apt-get install python-software-properties -y # for the next command
  - sudo add-apt-repository ppa:eyecreate/haxe -y
  - sudo apt-get update
  - sudo apt-get install haxe -y
  - sudo apt-get install gcc-multilib g++-multilib -y  # since VM is 64bit but hxcpp builds 32bit by default
  - mkdir ~/haxelib
  - haxelib setup ~/haxelib
  - haxelib install pdiff-hx
  - haxelib install tink_macros
  - haxelib install utest
  - haxelib install format
  - haxelib install hscript
  - sudo apt-get install xsltproc -y

before_script:
  - make clean all -C tools/smoke.jeash.com
  - "cd tools/smoke.jeash.com && node webserver.js &"

script:
  - make test -C tools/smoke.jeash.com
