<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>::APP_TITLE::</title>
	
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	::if linkedLibraries::::foreach (linkedLibraries)::
	<script type="text/javascript" src="::__current__::"></script>::end::::end::
	
	<script>
		window.addEventListener ("touchmove", function (event) { event.preventDefault (); }, false);
		if (typeof window.devicePixelRatio != 'undefined' && window.devicePixelRatio > 2) {
			var meta = document.getElementById ("viewport");
			meta.setAttribute ('content', 'width=device-width, initial-scale=' + (2 / window.devicePixelRatio) + ', user-scalable=no');
		}
	</script>
	
	<style>
		html,body { margin: 0; padding: 0; width:100%; height: 100%; overflow: hidden; }
		#stage { width: 100%; height: 100%; }
      div { position: absolute; }
      /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
      canvas.emscripten { border: 0px none; width:100%;height:100% }
      textarea.output { border: 0px none; width:100%;height:20% }
	</style>
	
</head>
<body>
   <div class="emscripten_border" id="stage" >
      <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
   </div>

    ::if (NME_PRELOADER!=null)::
       <script type='text/javascript'>
       ::NME_PRELOADER::
       </script>
    ::end::

    <script type='text/javascript'>
       var Module = {
        preRun: [],
        postRun: [],
        print: (function() {
          var element = document.getElementById('output');
          if (element) element.value = ''; // clear browser cache
          return function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            // These replacements are necessary if you render to raw HTML
            //text = text.replace(/&/g, "&amp;");
            //text = text.replace(/</g, "&lt;");
            //text = text.replace(/>/g, "&gt;");
            //text = text.replace('\n', '<br>', 'g');
            console.log(text);
            if (element) {
              element.value += text + "\n";
              element.scrollTop = element.scrollHeight; // focus on bottom
            }
          };
        })(),
        canvas: (function() {
          var canvas = document.getElementById('canvas');

          // As a default initial behavior, pop up an alert when webgl context is lost. To make your
          // application robust, you may want to override this behavior before shipping!
          // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
          canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

          return canvas;
        })(),
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
          this.totalDependencies = Math.max(this.totalDependencies, left);
          var preloadUpdate = window.preloadUpdate;
          var done = this.totalDependencies-left;
          var total = this.totalDependencies + ::if (jsminimal)::2::else::1::end::;
          if ( typeof(preloadUpdate)!="undefined" ) preloadUpdate(done,total);
          ::if (!NME_IMMEDIATE_LOAD)::
          if (left==0) {
             var run = function() {
                 var script = document.createElement('script');
                 script.src = "::NME_APP_JS::";
                 document.body.appendChild(script);
             };
             ::if (jsminimal)::
             if ( typeof(window.nmeClassesLoaded)!="undefined")
                run()
             else {
                window.nmeOnClasses = function() {
                   if ( typeof(preloadUpdate)!="undefined" )
                      preloadUpdate(done+1,total);
                   run();
                }
                var classes = document.createElement('script');
                classes.src = "nmeclasses.js";
                document.body.appendChild(classes);
             }
             ::else::
             run();
             ::end::
          }
        ::end::
        },
        printErr: function(text) {
          if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
          console.error(text);
        },
        setStatus: function(text) {
          console.log(text);
        },
      };
    </script>

    <script>
          ::if (NME_MEM_FILE)::
           (function() {
            var memoryInitializer = '::NME_LIB_JS::.mem';
            if (typeof Module['locateFile'] === 'function') {
              memoryInitializer = Module['locateFile'](memoryInitializer);
            } else if (Module['memoryInitializerPrefixURL']) {
              memoryInitializer = Module['memoryInitializerPrefixURL'] + memoryInitializer;
            }
            var xhr = Module['memoryInitializerRequest'] = new XMLHttpRequest();
            xhr.open('GET', memoryInitializer, true);
            xhr.responseType = 'arraybuffer';
            xhr.send(null);
          })();
         ::end::

          var script = document.createElement('script');
          script.src = "::NME_LIB_JS::";
          document.body.appendChild(script);

    </script>

</body>
</html>

