<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
	<title>::APP_TITLE::</title>
</head>
<body style="padding: 0; margin: 0; background-color: #FFFFFF;">
	
	<!-- <div id="haxe:trace" style="position: absolute; z-index: 2147483647;::if !debug:: display: none;::end::"></div> -->
	<!-- <div id="haxe:jeash" style="background-color: #::WIN_FLASHBACKGROUND::; width: ::if (WIN_WIDTH == 0)::100%::else::::WIN_WIDTH::px::end::; height: ::if (WIN_HEIGHT == 0)::100%::else::::WIN_HEIGHT::px::end::" data-framerate="::WIN_FPS::"></div> -->
	
	<canvas id="canvas" style="background-color: #::WIN_FLASHBACKGROUND::; width: ::if (WIN_WIDTH == 0)::100%::else::::WIN_WIDTH::px::end::; height: ::if (WIN_HEIGHT == 0)::100%::else::::WIN_HEIGHT::px::end::"></canvas>
	
	<script type="text/javascript">
		
		var Module = {};
		Module.canvas = document.getElementById("canvas");
		::if DEBUG::Module.setStatus = console.log;::else::Module.setStatus = function(_) {};::end::
		
	</script>
	
	::if DEBUG::<script type="text/javascript" src="./webgl-debug.js"></script>::end::
	
	<script>function winParameters () { return ::WIN_PARAMETERS::; }</script>
	<script type="text/javascript" src="./::APP_FILE::.js"></script>
	
</body>
</html>